<li id="<%= my_photos.id %>">
  <%= link_to gravatar_for(my_photos.user), my_photos.user %>
    <span class="user">
      <%= link_to my_photos.user.name, my_photos.user %>
    </span>
    <span class="content"><%= my_photos.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(my_photos.created_at) %> ago.
    </span>
    <span>
    <%= image_tag my_photos.photo.url %>
    </span>
  <% if current_user?(my_photos.user) %>
    <%= link_to "delete", my_photos, method: :delete,
                                       # data: { confirm: "You sure?" },
                                     title: my_photos.content %>
  <% end %>
</li>